#模型相关
#LLM主模型
MAIN_LLM_MODEL=<your_llm_model>
DEEPSEEK_API_KEY=<your_deepseek_api_key>
DEEPSEEK_BASE_URL=https://api.deepseek.com
#嵌入向量模型
EMBEDDING_MODEL=<your_embedding_model>
#RERANKE重排序模型
RERANK_MODEL=<your_rerank_model>
DASHSCOPE_API_KEY=<your_dashscope_api_key>
DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1


#MySQL数据库
DB_SELECT=mysql
DB_DRIVER=aiomysql
DB_HOST=<your_mysql_host>
DB_PORT=<your_mysql_port>
DB_USER=<your_mysql_user>
DB_PASSWORD=<your_mysql_password>
DB_NAME=<your_mysql_database>
DB_CHARSET=utf8mb4


# RAG业务参数
# 向量检索召回数量
RAG_TOP_K=5
# 重排序后保留数量
RERANK_TOP_K=3
# 文档切片大小
CHUNK_SIZE=800
# 切片重叠长度
CHUNK_OVERLAP=150

# JWT鉴权
SECRET_KEY=<your_secret_key>
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
